### Importing libraries

In [1]:
import pandas as pd

#### Task 5 Definition

We want to test the above construction on Slovak News related to Corona virus and economic related discussions. For this purpose, consider 100 News in each case (Covid-19 and economic) and manually label the dataset in one of the four categories (Agrees, Disagrees, Discusses and Unrelated) according to your understanding of the content of the article.

### Importing Dataset

In [24]:
# Loaded the manually created Corona dataset and Economic dataset

train_bodies_economic = pd.read_csv('Economic_Bodies.csv', encoding='latin-1')
train_stances_economic = pd.read_csv('Economic_Stances.csv', encoding='latin-1')

train_bodies_corona = pd.read_csv('Corona_Bodies.csv', encoding='latin-1')
train_stances_corona = pd.read_csv('Corona_Stances.csv', encoding='latin-1')

###  Data Observation

In [27]:
#created 400 data instead of 200 to get better accuracy
print(train_bodies_economic.shape)
print(train_stances_economic.shape)

print(train_bodies_corona.shape)
print(train_stances_corona.shape)

(200, 2)
(200, 2)
(200, 2)
(200, 2)

In [28]:
train_bodies_economic.head(10)

   Body ID                                        articleBody
0        1  Tesla founder and CEO Elon Musk thinks the glo...
1        2  Even though Latinos are the second-largest eth...
2        3  The U.S. economy posted its first period of po...
3        4  The Tatas are in talks with Lockheed Martin fo...
4        5  The Commerce Department analysis found U.S. gr...
5        6  Indias economy grew at a record pace in the s...
6        7  By PTI: Amid rupee sliding below 64 to a dolla...
7        8  India is expected to surpass its tax collectio...
8        9  India's foreign exchange (forex) reserves decl...
9       10  Amidst the declining optimism towards emerging...

In [29]:
train_stances_economic.head(10)

                                            Headline   Stance
0  Elon Musk says a global recession could last u...    agree
1  Heres how venture capital is helping to lift ...  discuss
2  U.S. GDP accelerated at 2.6% pace in Q3, bette...    agree
3  Tatas, Lockheed Martin in talks to make Sikors...  discuss
4  U.S. GDP bounces back but economic outlook rem...    agree
5  India posts record 20% GDP growth but the seco...    agree
6  More bad news: S&P retains negative outlook on...    agree
7  Govt likely to surpass FY23 tax collection goa...    agree
8  India's forex reserves touch $524.5 bn, lowest...    agree
9  Factors Shaping Indias Positive Economic Outlook  discuss

In [30]:
train_bodies_corona.head(10)

   Body ID                                        articleBody
0        1  India's COVID-19 caseload climbed to 4,46,46,8...
1        2  Indian vaccine maker Serum Institute of India ...
2        3  A new round of COVID-19 vaccinations for peopl...
3        4  Starting on 30 October 2022, a vaccination app...
4        5  Influenza vaccinations and a new round of COVI...
5        6  The results of the third external study on the...
6        7  Helsinki continues stopped offering COVID-19 v...
7        8  You must book an appointment to get vaccinated...
8        9  Those aged 12 years and older can register for...
9       10  From Wednesday, 23 February, self-isolation wi...

In [31]:
train_stances_corona.head(10)

                                            Headline    Stance
0  Coronavirus Live Updates: India Records 1,112 ...     agree
1  India vaccine maker destroys 100 million doses...     agree
2  New COVID-19 vaccination round to be launched ...  disagree
3  Book a coronavirus vaccination appointment in ...  disagree
4  Influenza vaccinations and new COVID-19 vaccin...     agree
5  The city's crisis management model for dealing...     agree
6  COVID-19 vaccinations for 1st5th-graders to c...  disagree
7  Fourth corona vaccine dose now offered to 606...   discuss
8  COVID-19 variant-adapted booster vaccines are ...   discuss
9  Self-isolation is no longer required in the ca...     agree